<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seabank</title>
    <script type="type/javascript" src="eel.js"></script>
  </head>
  <body>
    <h1>Haloooo</h1>
    <a href="page_two.html">Page 2</a>
    <button onclick="getData('erfan')">Get Data</button>
    <h1 id="heading"></h1>
    <script>
      {% comment %} {% block head_script %}{% endblock %} {% endcomment %}
      {% comment %} eel.expose(say_hello_js);
      function say_hello_js(x) {
        console.log("Hello from " + x);
      }
      eel.expose(js_random);

      function js_random() {
        return Math.random(); }

      function print_num(n) { console.log('Got this from
        Python: ' + n); } eel.py_random()(print_num); say_hello_js("Javascript World!");
        eel.say_hello_py("Javascript World!"); {% endcomment %}

      function getData(x) {
        console.log(x)
      }
    </script>
  </body>
</html>
